<!-- navbar.component.html -->
<nav class="main-nav">
  <a routerLink="/">Inicio</a>
  <a routerLink="/sobre-nosotros">Sobre Nosotros</a>
  <a routerLink="/citas">Citas</a>
  <a routerLink="/citas-usuario">Mis Citas</a>
  <a routerLink="/citas-vet">Administrar Citas</a>
  <a routerLink="/presupuesto-cirugias">Presupuesto</a>
  <a routerLink="/donaciones">Donaciones</a>
  <a routerLink="/contacto">Contacto</a>

  <div class="nav-auth">
    <a *ngIf="!isLoggedIn()" routerLink="/login">Acceso</a>
    <button *ngIf="isLoggedIn()" (click)="logout()">Cerrar sesión</button>
  </div>
</nav>