<div class="page">

  <div class="page-header">
    <h1>Usuarios</h1>
    <p>Listado de usuarios registrados en el sistema</p>
  </div>

  <!-- Error -->
  <div class="error" *ngIf="error()">
    {{ error() }}
  </div>

  <!-- Tabla -->
  <table class="table">

    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Rol</th>
      </tr>
    </thead>

    <tbody>
      <tr 
        *ngFor="let user of users()"
        (click)="selectUser(user)"
        [class.selected]="selectedUser()?.id_user === user.id_user">

        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.id_role }}</td>

      </tr>
    </tbody>

  </table>

<!-- FORMULARIO EDICIÓN -->
<div class="edit-section" *ngIf="selectedUser()">

  <h3>Editar usuario</h3>

  <form [formGroup]="form">

    <div class="grid">

      <div class="field">
    <label>ID Usuario</label>
    <input type="text" formControlName="id_user">
    </div>

      <div class="field">
        <label>Nombre</label>
        <input type="text" formControlName="name">
        <small class="error"
        *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
        Mínimo 3 caracteres
      </small>
      </div>

      <div class="field">
        <label>Correo</label>
        <input type="email" formControlName="email">
        <small class="error"
        *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
        Correo inválido
      </small>
      </div>

      <div class="field">
        <label>Teléfono</label>
        <input type="text" formControlName="phone">
        <small class="error"
        *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid">
        Debe contener 10 dígitos
      </small>
      </div>

      <div class="field">
        <label>Rol</label>
        <select formControlName="id_role">
          <option [value]="1">Admin</option>
          <option [value]="2">Veterinario</option>
          <option [value]="3">Usuario</option>
        </select>
      </div>

  <div class="field" *ngIf="form.get('id_role')?.value == 2">

  <label>Clínica</label>

  <select formControlName="id_clinic">

    <option [ngValue]="null" disabled>
      Selecciona una clínica
    </option>

    <option *ngFor="let c of clinics()" [ngValue]="c.id_clinic">
      {{ c.name }}
    </option>

  </select>
  <small class="error"
    *ngIf="form.get('id_clinic')?.touched && form.get('id_clinic')?.invalid">
    La clinica es obligatoria
  </small>

</div>

  <div class="field" *ngIf="form.get('id_role')?.value == 2">

  <label>Horario</label>

  <input type="text" formControlName="schedule" placeholder="Ej: Lunes a Viernes 9:00 - 17:00">

  <small class="error"
    *ngIf="form.get('schedule')?.touched && form.get('schedule')?.invalid">
    El horario es obligatorio
  </small>

</div>

    </div>

    <!-- mensajes -->
    <div class="success" *ngIf="success()">
      {{ success() }}
    </div>

    <div class="error" *ngIf="error()">
      {{ error() }}
    </div>

    <!-- botones -->
    <div class="actions">
      <button type="button" class="btn-primary" (click)="updateUser()" [disabled]="form.invalid">
        Guardar cambios
      </button>

      <button type="button" class="btn-danger" (click)="deleteUser()">
        Eliminar usuario
      </button>
    </div>

  </form>

</div>

</div>
<div class="modal" *ngIf="confirmDeleteModal()">
  <div class="modal-box">
    <h3>¿Eliminar usuario?</h3>
    <p>¿Estás seguro que deseas eliminar este usuario?</p>

    <div class="actions">
      <button class="btn-danger" (click)="confirmDelete()">Sí, eliminar</button>
      <button class="btn-secondary" (click)="cancelDelete()">Cancelar</button>
    </div>
  </div>
</div>
<div class="modal" *ngIf="success()">
  <div class="modal-box">
    <h3>Operación exitosa ✅</h3>
    <p>{{ success() }}</p>

    <button class="btn-primary" (click)="closeSuccess()">
      Aceptar
    </button>
  </div>
</div>